<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='./css/main.css')}}"
    />
    <title>Speech Emotion Recognition</title>
  </head>
  <body>
    <div class="noise"></div>
    <nav>
      
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Model</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
      <a href="/prediction" class="btn">Predict Now</a>
    </nav>
    
    {% block content%} 
    
    {% endblock %}
    
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{url_for('static',filename='./main.js')}}"></script>
  <script src="{{url_for('static',filename='./rec.js')}}"></script> 
  </body>
</html>
